<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../static/public/js/scripts.min.js"></script>
    <link rel="stylesheet" href="../static/public/css/template.css"/>
</head>
<body>

<div class="wrap" ng-app="GlobalModule">
    <div class="top">
    <div class="container">
        <p>top</p>
    </div>
</div>

    <div class="middle">
        <div class="container">
            <p>container</p>
        </div>
    </div>

     
    <div class="bottom">
    <div class="container">
        <p>bottom</p>
    </div>
</div>
</div>

</body>
</html>