@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic&subset=cyrillic-ext,latin);
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/template.sass */
body {
  font: 12px/14px "Open Sans", sans-serif;
  margin: 0;
  padding: 20px;
  background: url("../../img/bg.png") repeat;
}

/* line 21, ../sass/template.sass */
h1 {
  font: bold 24px/26px Helvetica Neue, Helvetica, Arial;
  margin-bottom: 10px;
}

/* line 25, ../sass/template.sass */
h2 {
  font: bold 18px/20px Helvetica Neue, Helvetica, Arial;
  color: #3e91c0;
  margin-bottom: 5px;
}

/* line 29, ../sass/template.sass */
h3 {
  font: bold 16px/18px Helvetica Neue, Helvetica, Arial;
  margin-bottom: 5px;
}

/* line 33, ../sass/template.sass */
p {
  font: 14px/16px Helvetica Neue, Helvetica, Arial;
}

/* line 35, ../sass/template.sass */
em {
  font: italic 14px/16px Helvetica Neue, Helvetica, Arial;
  color: #3e91c0;
}

/* line 40, ../sass/template.sass */
.commentList .comment {
  padding: 10px;
  background: white;
  margin-bottom: 10px;
}
